body {
  font-family: "Roboto";
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* main */

.main {
  width: 100%;
  text-align: center;
}

/* navbar */

header.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 16px;
}

.header-title {
  color: #f9faf8;
  font-weight: 900;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 16px;
}

li {
  list-style-type: none;
  color: white;
}

/* section 1 */

.first-section {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0 120px 0;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

p {
  color: #9ca1a9;
}

.left-first-section {
  text-align: left;
}

.sign-up-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.25s;
}

.sign-up-btn:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

/* section 2 */

.second-section {
  background-color: white;
}

.img-section > p:last-child {
  margin-bottom: 0;
}

/* section 3 */

.third-section {
  background-color: #e5e7eb;
  margin-top: 0;
}

blockquote {
  margin: 0 auto;
  width: 60%;
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  padding: 100px 0;
}

cite {
  font-weight: bold;
}

/* section 4 */

.fourth-section {
  padding: 48px;
  background-color: white;
}

.banner {
  margin: auto;
  width: 80%;
  height: 100px;
  background-color: #3882f6;
  padding: 54px;
  border-radius: 1em;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner > h2 {
  margin-top: 0;
}

.sign-up-btn.white-border {
  border: 2px solid white;
  /* padding: 0; */
  flex-grow: 0;
  transition: 0.25s;
}

.sign-up-btn.white-border:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

/* footer */
footer {
  padding: 24px;
  color: #f9faf8;
}
